@import "variables";
@import "mixins";
@import "preset";
@import "reset";

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.field {
  box-sizing: content-box;
  width: 300px;
  height: 300px;
  border: 1px solid $mainColor;
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;

  .cross, .zero, .empty {
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid $mainColor;
    box-sizing: border-box;

    span {
      position: absolute;
      font-size: 70px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.history-field {
  box-sizing: content-box;
  margin-top: 10px;
  width: 99px;
  height: 99px;
  border: 1px solid $mainColor;
  display: flex;
  flex-wrap: wrap;

  .cross, .zero, .empty {
    width: 33px;
    height: 33px;
    position: relative;
    border: 1px solid $mainColor;
    box-sizing: border-box;

    span {
      position: absolute;
      font-size: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

}

.red {
  color: red;
}

.historyWrapper {
  padding: 15px;

  h1 {
    margin: 0;
  }
}

.historyFields {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  width: min-content;
  min-width: 100%;
}

.historyFieldsWrapper {
  overflow-x: scroll;
}

.button {
  position: relative;
  height: 45px;
  border-radius: 5px;
  background-color: $mainBG;
  color: $secondColor;
  line-height: 45px;
  text-overflow: ellipsis;
  text-align: center;
  user-select: none;
  margin: 10px $marginButton;

  @include min-width(xs) {
    margin: 10px $marginButton 0;
  }

  .loader {
    position: absolute;
    right: 5%;
    top: calc(50% - 15px);
    margin: auto;
    width: 30px;
    height: 30px;
  }
}

.button.disabled {
  filter: grayscale(1)
}

.statistics {
  margin: 0 10px;

  table {
    width: 100%;

    tr {
      width: 100%;

      td:nth-child(1) {
        text-align: left;
        width: 50%;
        border-bottom: 1px solid $mainBG;
      }

      td:nth-child(2) {
        text-align: right;
        width: 50%;
        border-bottom: 1px solid $mainBG;
      }

    }
  }
}

.alertMessage {
  position: fixed;
  background-color: $mainBG;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: $secondColor;
  border-radius: 0 0 5px 5px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
}

.bottomScreen {
  display: block;
  height: calc(100vh - 318px - 15px);
  overflow-y: scroll;
}

.game-play_wrapper {
  width: 100%;
  height: 100vh;
}


